<form class="actor-sheet" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div class="header-details flexcol">
            <h1 class="actor-name">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />
            </h1>
            <div class="actor-type">{{actor.type}}</div>
            <label>Faction</label>
            <input name="system.faction" type="text" value="{{actor.system.faction}}" />
        </div>
    </header>

    <section class="sheet-body">
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="stats">Stats</a>
            <a class="item" data-tab="skills">Skills</a>
            <a class="item" data-tab="references">Quick Reference</a>
        </nav>

        <div class="tab-content">
            <!-- Tab: Stats -->
            <div class="tab" data-tab="stats" data-group="primary">
                <h2>Infinity Points</h2>
                <div class="grid-2col">
                    {{#each (array "value" "max") as |field|}}
                    <div>
                        <label>{{capitalize field}}</label>
                        <input name="system.infinitypoints.{{field}}" type="number" value="{{get actor.system.infinitypoints field}}" />
                    </div>
                    {{/each}}
                </div>

                <h2>Vitals (Damage Tracking)</h2>
                <div class="grid-3col damage-trackers">
                    {{#each (array
          (object "key" "vigour" "label" "Vigour" "data" actor.system.vigour)
          (object "key" "resolve" "label" "Resolve" "data" actor.system.resolve)
          (object "key" "firewall" "label" "Firewall" "data" actor.system.firewall)
        ) as |track|
                    }}
                    <div class="damage-track">
                        <label>{{capitalize track.label}}</label>
                        <div class="checkbox-row">
                            {{damageBoxes (merge (object "value" 0 "max" 7) track.data) key=track.key disabled=(not @root.actor.isOwner)}}
                        </div>
                    </div>
                    {{/each}}
                </div>

                <h2>Other Stats</h2>
                <div class="grid-3col">
                    <div>
                        <label>Armor</label>
                        <input type="number" name="system.armor" value="{{actor.system.armor}}" />
                    </div>
                    <div>
                        <label>Morale</label>
                        <input type="number" name="system.morale" value="{{actor.system.morale}}" />
                    </div>
                    <div>
                        <label>Security</label>
                        <input type="number" name="system.security" value="{{actor.system.security}}" />
                    </div>
                </div>
            </div>

            <!-- Tab: Skills (partial) -->
            <div class="tab" data-tab="skills" data-group="primary">
                {{> "systems/infinitycore/templates/partials/attribute-skill-block.hbs"}}
            </div>

            <!-- Tab: Quick Reference (partial) -->
            <div class="tab" data-tab="references" data-group="primary">
                {{> "systems/infinitycore/templates/partials/item-reference-block.hbs"}}
            </div>
        </div>
    </section>

</form>
