<form class="item-sheet" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-details flexcol">
            <h1 class="item-name">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
            </h1>
            <div class="item-type">Weapon</div>
        </div>
    </header>

    <section class="sheet-body">
        <div class="form-group">
            <label for="system.attackWith">Attack With</label>
            <input type="text" name="system.attackWith" value="{{system.attackWith}}" />
        </div>

        <div class="form-group">
            <label for="system.damage">Damage</label>
            <input type="number" name="system.damage" value="{{system.damage}}" />
        </div>

        <div class="form-group">
            <label for="system.size">Size</label>
            <input type="number" name="system.size" value="{{system.size}}" />
        </div>

        <div class="form-group">
            <label for="system.restriction">Restriction</label>
            <input type="number" name="system.restriction" value="{{system.restriction}}" />
        </div>

        <div class="form-group">
            <label for="system.cost">Cost</label>
            <input type="number" name="system.cost" value="{{system.cost}}" />
        </div>

        <div class="form-group">
            <label for="system.tariff">Tariff</label>
            <input type="number" name="system.tariff" value="{{system.tariff}}" />
        </div>
    </section>
</form>
